@font-face {
  font-family: "IBM Plex Sans";
  src: url(../../public/fonts/IBMPlexSans-Regular.ttf);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "IBM Plex Sans";
  src: url(../../public/fonts/IBMPlexSans-Medium.ttf);
  font-style: normal;
  font-weight: 500;
}
