@let user = user$ | async;

<div class="navbar">
  <div>
    {{ "website-name" | translate | uppercase }}
  </div>

  <div
    #navbarItems
    class="navbar-items-container"
    [ngClass]="{ show: showNavbarDropdown }"
  >
    <a routerLink="/posts" queryParamsHandling="preserve">
      {{ "navbar.all-posts" | translate }}
    </a>

    <a routerLink="/posts/form" queryParamsHandling="preserve">
      {{ "navbar.add-post" | translate }}
    </a>
  </div>

  <div class="navbar-controls">
    <app-chip class="outline">{{ user?.username }}</app-chip>
    <button
      #navbarItemsDropdownButton
      class="dropdown-button"
      (click)="toggleNavbarItemsDropdown()"
    >
      <fa-icon [icon]="faBars" />
    </button>
  </div>
</div>

<router-outlet />
