form {
  background-color: var(--bright);
  padding: 1rem;
  border-radius: var(--border-radius-standard);

  display: flex;
  flex-direction: column;
  row-gap: 1rem;

  box-shadow: var(--light-box-shadow);
}
