@use "colors";

@mixin input-button-base {
  box-sizing: border-box;
  padding: 0.6rem;
  border-radius: var(--border-radius-standard);
  box-shadow: var(--light-box-shadow);
  font-family: inherit;
}

input:not([type="submit"]) {
  @include input-button-base;

  background-color: var(--bright);
  border: var(--border-thin) solid var(--shade);

  &:focus-visible {
    outline: var(--border-medium) solid var(--accent);
    outline-offset: var(--border-thin-neg);
  }
}

input[type="submit"],
button {
  @include input-button-base;

  background-color: var(--accent);
  color: var(--tint);
  border: none;
  outline: none;
  transition: box-shadow 0.15s ease;
  padding: 0.6rem;
  height: fit-content;

  &:hover,
  &:focus-visible {
    box-shadow: var(--medium-box-shadow);
  }

  &:active {
    outline: var(--border-medium) solid colors.opacify(var(--primary), 0.86);
    outline-offset: var(--border-medium-neg);
  }
}
