@import url("variables.scss");
@import url("fonts.scss");
@import url("inputs.scss");
@import url("toastr.scss");

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: var(--tint);

  font-family:
    IBM Plex Sans,
    sans-serif;
  font-weight: 400;
  color: var(--primary);
}
