@use "fonts";

:host {
  box-shadow: var(--light-box-shadow);
  background-color: var(--bright);
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  box-sizing: border-box;
  border-radius: var(--border-radius-standard);
  padding: 1rem;
  width: 100%;
}

.title {
  font-size: 1.25rem;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chips {
  display: flex;
  column-gap: 1rem;
}

.last-modified {
  color: var(--secondary);
}
