:host {
  display: block;
  background-color: var(--bright);
  border-radius: var(--border-radius-standard);
  box-shadow: var(--light-box-shadow);
  padding: 1rem;
}

.title {
  font-weight: 500;
  font-size: 1.15rem;
}
