:host {
  box-sizing: border-box;
  width: 100%;

  display: grid;
  grid-template-columns: 1fr min(60%, 37rem) 1fr;
  align-items: start;
  gap: 1rem;

  padding: 1rem;
}

.left-column {
  justify-self: left;
}

.center-column {
  justify-self: center;
}
